@font-face {
  font-family: "Urbanist";
  src: url("Urbanist-Regular.woff2") format("woff2"),
    url("Urbanist-Regular.woff") format("woff"),
    url("Urbanist-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("Urbanist-Bold.woff2") format("woff2"),
    url("Urbanist-Bold.woff") format("woff"),
    url("Urbanist-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
